/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-color: #1e293b transparent;
  scrollbar-width: thin;
}
